body, html
{
	font-family: serif;
	font-size:8pt;
	background-color: #ddd;
	margin:0;
	padding:0;
	line-height:135%;
}
h1, h2, h3, h4, h5, h6, h7
{
	font-family: Helvetica, sans-serif;
}
#container
{

	width:800px;
	margin: 0 auto;
	padding: 20px;
	background:#fff;
	border:1px solid #300;
}
#aux
{
	width:230px;
	float:left;
	padding:0 10px 10px;

}
#aux ul, #aux li 
{
	list-style:none;
	margin:0;padding:0;
}

#content
{

	width:460px;
	float:right;
	padding: 0 20px;

	font-family: serif;
	font-size: 120%;
	color: #300;
	padding:2em;
	background: #ffc;
	border: 1px solid #300;
	line-height:115%;
}
#abstract
{
	font-style:italic;
}
#foot
{
	clear:both;
}

.block
{
	border:1px solid #000;
	padding:0.5em;
	margin: 0 0 0.5em 0;
}
.block p
{
	margin:0 0 0.4em 0;
}

.block p
{
	font-style: italic;
}
.block h2
{
	margin:0;
	font-size:12pt;
}
#header
{
	<!--
	background:url(/stylesheets/images/logo.png) no-repeat 3% 0;
	-->
	padding:0 0 0 10px;
}
#header h1
{
	<!--
	visibility:hidden;
	-->
	height:62px;
}
pre
{
	border:1px solid #000;
	padding: 0.5em;
	background: #aaa;
}
#navlist
{
	padding: 3px 0;
	margin-left: 0;
	border-bottom: 1px solid #778;
	font: bold 12px Verdana, sans-serif;
}

#navlist li
{
	list-style: none;
	margin: 0;
	display: inline;
}

#navlist li a
{
	padding: 3px 0.5em;
	margin-left: 3px;
	border: 1px solid #778;
	border-bottom: none;
	background: #DDE;
	text-decoration: none;
}

#navlist li a:link { color: #448; }
#navlist li a:visited { color: #667; }

#navlist li a:hover
{
	color: #000;
	background: #AAE;
	border-color: #227;
}

#navlist li a#current
{
	background: #ffc;
	border-bottom: 1px solid white;
}
